<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty scope="context" name="logPath" source="logging.path" defaultValue="l./ogs"/>
    <springProperty scope="context" name="fileMaxSize" source="logging.file.max-size" defaultValue="100M"/>
    <springProperty scope="context" name="fileMaxHistory" source="logging.file.max-history" defaultValue="60"/>
    <springProperty scope="context" name="rootLevel" source="logging.level.root" defaultValue="INFO"/>

    <appender name="BASE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>${fileMaxHistory}</maxHistory>
            <fileNamePattern>${logPath}/base/base.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${fileMaxSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>${fileMaxHistory}</maxHistory>
            <fileNamePattern>${logPath}/info/info.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${fileMaxSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} %highlight(%-5level) -- [%yellow(%8thread)] %cyan(%-36logger{36}:) [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${rootLevel}">
        <appender-ref ref="BASE_FILE"/>
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
