<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berry.oss.dao.mapper.BucketInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berry.oss.dao.entity.BucketInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="region_id" property="regionId"/>
        <result column="acl" property="acl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, userId, region_id, acl, create_time, update_time
    </sql>

    <select id="listBucket" resultType="com.berry.oss.module.vo.BucketInfoVo">
        SELECT a.id, a.name, a.acl, a.create_time, a.update_time, b.code as region, b.name as regionName,
        CASE when `white_list`!= '' and `white_list` is not null then true ELSE false END as referer
        from
        bucket_info a
        LEFT JOIN region_info b on a.region_id = b.id
        LEFT JOIN referer_info c on c.bucket_id = a.id
        <where>
            AND a.user_id = #{userId}
            <if test="name != null and name !=''">
                AND a.name like concat("%", #{name}, "%")
            </if>
        </where>
    </select>

    <select id="getBucketUseInfo" resultType="com.berry.oss.module.dto.BucketStatisticsInfoDto">
        SELECT
        f.bucketName,
        objectMaxSize,
        objectMinSize,
        usedCapacity,
        objectCount,
        d.objectAverageSize
        FROM
        (
        SELECT
        b.NAME AS bucketName,
        max( size ) AS objectMaxSize,
        min( size ) AS objectMinSize,
        SUM( size ) AS usedCapacity,
        count( file_id ) AS objectCount
        FROM
        `object_info` a
        LEFT JOIN bucket_info b ON a.bucket_id = b.id
        WHERE
        is_dir = 0 AND b.NAME IS NOT NULL
        GROUP BY
        bucket_id
        ) f
        LEFT JOIN (
        SELECT
        bucketName,
        objectAverageSize
        FROM
        (
        SELECT
        b.NAME AS bucketName,
        cast( AVG( size ) AS DECIMAL ) AS objectAverageSize
        FROM
        object_info a
        LEFT JOIN bucket_info b ON a.bucket_id = b.id
        WHERE
        is_dir = 0
        AND size &gt; ( SELECT min( size ) FROM object_info )
        AND size &lt; ( SELECT max( size ) FROM object_info )
        GROUP BY
        bucket_id
        ) c
        ) d ON d.bucketName = f.bucketName
    </select>

</mapper>
