<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berry.oss.core.mapper.BucketInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berry.oss.core.entity.BucketInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="region_id" property="regionId"/>
        <result column="acl" property="acl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, userId, region_id, acl, create_time, update_time
    </sql>

    <select id="listBucket" resultType="com.berry.oss.module.vo.BucketInfoVo">
        SELECT a.id, a.name, a.acl, a.create_time, a.update_time, b.code as region, b.name as regionName from bucket_info a
        LEFT JOIN region_info b on a.region_id = b.id
        <where>
            AND user_id = #{userId}
            <if test="name != null and name !=''">
                AND name like concat(#{name}, "%")
            </if>
        </where>
    </select>

</mapper>
